.header, .hero, .body, .bar, .footer{
    background-color: aquamarine;
    margin-bottom: 25px;
}
.box{
    margin: 10px 0;
    min-height: 100px;
    font-size: 30px;
    color: white;
    background-color: magenta;
    /* text center */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
}